.landing .img{
    background: url(/assets/children.png);
    background-position:center !important;
    background-size:cover;
    background-attachment: fixed;
    background-repeat:no-repeat; 
   
}
.bg{
    background:Url(/assets/bg.png);
    min-height: 100vh;
    background-position:fixed;
    background-size:cover;
    background-repeat:no-repeat;
}
.img-text{
    color: #fff;
    font-size:3vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-top: 20%;
    padding-left:100px ;
}
@media only screen and (max-width: 768px) {
    
    .img-text{
        color: white;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font: size 1.3vw;
        margin-bottom: 0px;
    }
}


